[submodule "libopencm3-examples"]
	path = libopencm3-examples
	url = https://github.com/Inception-framework/libopencm3-examples.git
[submodule "mini-arm-os"]
	path = mini-arm-os
	url = https://github.com/Inception-framework/mini-arm-os.git
[submodule "stm32-demos"]
	path = stm32-demos
	url = https://github.com/Inception-framework/stm32-demos.git
[submodule "lpc18xx-demos"]
	path = lpc18xx-demos
	url = https://github.com/Inception-framework/lpc18xx-demos.git
